@ -6,12 +6,10 @@
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
<link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
{% include head-custom.html %}
</head>

<body>
  @ -25,6 +23,23 @@

  <p>{{ site.description | default: site.github.project_tagline }}</p>

  <div id="contact">
    <h1>Research Interests</h1>
    <p>Multi-robot System</p>
    <p>Reinforcement Learning</p>
    <p>Task Scheduling and Motion Planning</p>
    <p>Virtual Reality</p>
  </div>
  <p></p>
  <div id="contact">
    <h1>Contact</h1>
    <p><b>Email</b>: <i>{{site.email}}</i></p>
    <p><b>Github</b>: <a href="https://github.com/reso1">reso1</a></p>
    <p><b>Google Scholar</b>: <a href="https://scholar.google.com/citations?user=58xSbH8AAAAJ&hl=en">Jingtao
        Tang</a></p>
  </div>


  {% if site.github.is_project_page %}
  <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{
        site.github.repository_nwo }}</small></a></p>
  @ -56,6 +71,18 @@
  </footer>
  </div>
  <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>